/* === Sections === */

.main {
  display: flex;
}

.section-leftSideBar {
  transition: width 1.5s ease-in-out;
  height: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  overflow-x: hidden;
  color: white;
}

.section-leftSideBar.isOpen {
  width: 50%;
}

.section-leftSideBar.isClose {
  width: 25%;
}

.section-leftSideBar > .section-leftSideBar-main {
  transition: padding-top 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-leftSideBar.isOpen > .section-leftSideBar-main {
  padding-top: 10vh;
}

.section-leftSideBar.isClose > .section-leftSideBar-main {
  padding-top: 2vh;
}

.section-rightContent {
  transition: width 1.5s ease-in-out;
  height: 98%;
  top: 1%;
  width: 50%;
  position: fixed;
  z-index: 0;
  right: 0;
  overflow-x: hidden;
  border-radius: 8px 0 0 8px;
  background-color: #ffffff;
  overflow: hidden;
}

.section-leftSideBar.isClose + .section-rightContent {
  width: 75%;
}

.section-leftSideBar.isOpen + .section-rightContent {
  width: 50%;
}

/* === Elems === */

/* elem-navbar */
.elem-moduleSelector {
  display: flex;
  align-items: center;
}

.elem-moduleSelector-title {
  font-weight: bold;
  font-size: 14px;
}

/* elem-search */
.elem-search {
  padding: 10px;
  border-radius: 21.5px;
  background-color: #3d3f54;
  display: flex;
}

.elem-search .MuiSvgIcon-root {
  font-size: 18px;
}

.section-leftSideBar.isOpen > div > div > .elem-search {
  transition: width 1s ease-in-out, opacity 1s ease-in-out 0.5s;
  opacity: 1;
  width: 69%;
}

.section-leftSideBar.isClose > div > div > .elem-search {
  transition: width 1s ease-in-out 0.5s, opacity 1s ease-in-out;
  opacity: 0;
  width: 0%;
}

.section-leftSideBar > .elem-search {
  margin: 4vh auto 0;
}

.section-leftSideBar.isOpen > .elem-search {
  transition: width 1s ease-in-out 0.5s, opacity 1s ease-in-out;
  opacity: 0;
  width: 0%;
}

.section-leftSideBar.isClose > .elem-search {
  transition: width 1s ease-in-out, opacity 1s ease-in-out 0.5s;
  opacity: 1;
  width: 80%;
}

.elem-search-input {
  width: inherit;
  background-color: #3d3f54;
  border: none;
  padding-left: 10px;
  color: white;
  outline: none;
}

.elem-mainLogo img {
  height: 44px;
  width: 39px;
}

/* elem-notification */
.elem-notification {
  border-radius: 6px;
  margin-left: 20px;
  height: 53px;
  width: 53px;
  background-color: #18c27f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.elem-notification__bubble {
  background-color: red;
  position: absolute;
  margin-top: -25px;
  margin-left: 21px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* elem-welcome */
.section-leftSideBar > .section-leftSideBar-main > .elem-welcome {
  display: flex;
  flex-direction: column;
}

.section-leftSideBar.isOpen > .section-leftSideBar-main > .elem-welcome {
  transition: height 1s ease-in-out, opacity 1s ease-in-out 0.5s;
  opacity: 1;
  height: 70px;
}

.section-leftSideBar.isClose > .section-leftSideBar-main > .elem-welcome {
  transition: height 1s ease-in-out 0.5s, opacity 1s ease-in-out;
  opacity: 0;
  height: 0px;
}

.elem-welcome-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Poppins";
}

.elem-welcome-subTitle {
  font-size: 14px;
}

/* elem-section-link */
.section-leftSideBar > .section-leftSideBar-main > .elem-section-link {
  transition: width 1.5s ease-in-out;
  margin-top: 30px;
}

.section-leftSideBar.isOpen > .section-leftSideBar-main > .elem-section-link {
  width: 60%;
}

.section-leftSideBar.isClose > .section-leftSideBar-main > .elem-section-link {
  width: 100%;
}

/* elem-titleWithSeparator */
.section-leftSideBar
> .section-leftSideBar-main
> .elem-section-link
> .elem-titleWithSeparator {
  transition: all 1.5s ease-in-out;
}

.section-leftSideBar.isOpen
> .section-leftSideBar-main
> .elem-section-link
> .elem-titleWithSeparator {
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  border-top: 0px solid rgba(255, 255, 255, 0.29);
}

.section-leftSideBar.isClose
> .section-leftSideBar-main
> .elem-section-link
> .elem-titleWithSeparator {
  padding: 4% 10% 2%;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 0px solid rgba(255, 255, 255, 0.29);
  border-top: 1px solid rgba(255, 255, 255, 0.29);
}

/* elem-links */
.elem-links {
  transition: margin-top 1.5s ease-in-out, padding 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.section-leftSideBar.isOpen
> .section-leftSideBar-main
> .elem-section-link
> .elem-links {
  margin-top: 7.5px;
}

.section-leftSideBar.isClose
> .section-leftSideBar-main
> .elem-section-link
> .elem-links {
  padding: 0 10%;
}

.elem-links-link {
  transition: line-height 1.5s ease-in-out, font-size 1.5s linear;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 600;
  font-family: "Poppins";
}

.elem-links-link.is-active {
  color: #ffffff;
}
.section-leftSideBar.isOpen .elem-links-link.is-active {
  border-left: 4px solid #18c27f;
  padding-left: 10px;
}

.section-leftSideBar.isOpen
> .section-leftSideBar-main
> .elem-section-link
> .elem-links
> .elem-links-link {
  font-size: 24px;
  line-height: 42px;
}

.section-leftSideBar.isClose
> .section-leftSideBar-main
> .elem-section-link
> .elem-links
> .elem-links-link {
  font-size: 14px;
  line-height: 48px;
}

.elem-links-link:hover {
  color: #ffffff;
}

.elem-links-link.active {
  color: #ffffff;
}

/* elem-referent */
.section-leftSideBar
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent {
  transition: all 1.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-leftSideBar.isOpen
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent {
  margin-top: 7.5px;
  padding: 5px 0px;
}

.section-leftSideBar.isClose
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent {
  padding: 1% 10%;
}

.section-leftSideBar
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent
> div
> .element-referent-data {
  transition: margin-left 1.5s ease-in-out;
}

.section-leftSideBar.isOpen
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent
> div
> .element-referent-data {
  margin-left: 7.5px;
}

.elem-referent-title {
  font-size: 14px;
  font-weight: bold;
}

.elem-referent-subTitle {
  font-size: 12px;
}

/* elem-roundImage */
.elem-roundImage {
  transition: all 1.5s ease-in-out;
  border-radius: 50%;
}

.section-leftSideBar.isOpen
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent
> div
> .elem-roundImage {
  opacity: 1;
  height: 60px;
  width: 60px;
}

.section-leftSideBar.isClose
> .section-leftSideBar-main
> .elem-section-link
> .elem-referent
> div
> .elem-roundImage {
  opacity: 0;
  height: 0px;
  width: 0px;
}

/* elem-iconOptions */
.elem-iconOptions {
}

/* elem-wrapper */
.section-leftSideBar > .elem-container__wrapper {
  transition: left 1.5s ease-in-out, background-position 1.5s ease-in-out,
  border-radius 1.5s ease-in-out;
  display: table;
  position: fixed;
  height: 50px;
  width: 30px;
  top: 50%;
  background: linear-gradient(to right, #3d3f54 50%, #262a43 50%);
  background-size: 200% 100%;
  cursor: pointer;
}

.section-leftSideBar.isOpen > .elem-container__wrapper {
  left: calc(50% - 30px); /* sideBar size - wrapper width*/
  border-radius: 8px 0 0 8px;
}

.section-leftSideBar.isClose > .elem-container__wrapper {
  left: 25%; /* sideBar size */
  border-radius: 0 8px 8px 0;
  background-position: right bottom;
}

.section-leftSideBar > .elem-container__wrapper > .elem-icon__wrapper {
  transition: rotate 1.5s ease-in-out;
  transform-origin: middle;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
}

.section-leftSideBar.isOpen > .elem-container__wrapper > .elem-icon__wrapper {
  transform: rotate(180deg);
}

.section-leftSideBar.isClose > .elem-container__wrapper > .elem-icon__wrapper {
  transform: rotate(0deg);
}
