.attachment__item {
    border-radius: 3px;
    background-color: #f5f6fa;
    border: none;
    padding: 10px;
    margin: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    
    .attachment__name {
        padding: 0 5px;
    }
    
    .attachment__size {
        color: #8c8c8c;
        padding: 0 5px;
    }
    
    .attachment__logo .MuiSvgIcon-root {
        padding: 0px 5px;
        font-size: 20px;
    }

    .attachment__left {
        display:flex;
        align-items:center
    }
}

