#ticket {
  height:100%;

  .action-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
  }
  
  .action-bar__tab {
    display: flex;
  }
  
  .action-bar__tab__title_disabled {
    color: #262a41;
    opacity: 0.3;
    padding-left: 30px;
  }
  
  .action-bar__tab__title {
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Poppins";
  }
  
  .action-bar__button {
    color: #ffffff;
    background-color: #18c27f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .main-content {
    overflow: auto;
    height: 89%;
    overflow-x: hidden;
    padding: 0 40px;
    position: relative;
  }
  
  /* popup */
  
  .popup {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  
  .popup iframe {
    height: 100%;
    width: 100%;
    border: none;
  }
  
  /* tickets */
  
  .ticket-section {
  }
  
  .ticket-section__title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
  }
  
  .ticket-table {
    width: 100%;
    table-layout: fixed;
  }
  
  .ticket-list {
    padding: 10px 0px;
  }
  
  .ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
  }
  
  .ticket__title {
    font-size: 14px;
    font-weight: 600;
  }
  
  .ticket__sub-title {
    font-size: 12px;
    color: #797979;
    display: flex;
    align-items: center;
  }
  
  .ticket__sub-title .MuiSvgIcon-root {
    font-size: 15px;
  }
  
  .ticket__status {
    font-size: 12px;
    font-weight: 600;
  }
  
  .ticket__qualification {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 25px;
  }
  
  .ticket__qualification_critical {
    color: #e47373;
    background-color: rgba(239, 79, 74, 0.2);
  }
  
  .ticket__qualification_major {
    background-color: rgba(242, 175, 89, 0.2);
    color: #f2af59;
  }
  
  .ticket__qualification_minor {
    color: #18c27f;
    background-color: rgba(24, 194, 127, 0.2);
  }
  
}
